.box {
  width: 400px;
  height: 100px;
  padding: 15px;
  background: rgb(131, 124, 232);
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
